services:
  db:
    image: postgres:18
    container_name: postgres-dev
    # set shared memory limit
    shm_size: 128mb
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend-dev
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db
    develop:
      watch:
        - action: sync
          path: ./backend/app
          target: /app/app

volumes:
  pgdata:
